.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 882px;
    margin: auto;
    padding-top: 45px;
  }

@media screen and (min-width:320px) and (max-width: 1024px){
  .header {
     min-width: 320px;
     padding-top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 882px;
    margin: auto;
    padding-top: 45px;
  }
}