.form__info {
    align-self: center;
    border: 0;
    /* border-bottom: 1px solid #bcbcc4; */
    padding: 0;
    width: 358px;
    opacity: 0.2;
    border-bottom: 1px solid #000000;
    margin-bottom: 29px;
  
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .form__info {
    width: 300px;
    
  }
}