/*           КОНТЕЙНЕРЫ          
.popup__container-image-delete {
    width: 430px;
    height: 181px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;

}
.popup__container_profile-avatar-edit {
    width: 430px;
    height: 272px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
*/
/*                ТИТЛЫ                        
.popup__title-image-delete {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 2px 36px 40.26px 36px;
}
.popup__title_profile-avatar-edit {
    width: 330px;
    height: 23px;
}
*/
/*                ИНПУТ                     
.popup__input_assigment_avatar-edit {
    width: 358px;
    height: 13.87px;
    margin: 29px 36px 0 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
*/
/*              КНОПКИ                

.popup__yes {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin:auto;
    cursor: pointer;
}

.profile__avatar_overlay {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: none;
    border: none;

    

}
.profile__avatar_overlay:hover {
    background-image: url(./images/VectorAvatar.svg);
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
}
*/
/*
.element__count{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 0px;
    color: #000000;
    position: absolute;
    top: 305px;
    left: 254px;
}
*/


.popup_avatar-save {
    background: #000000;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 48px auto 36px auto;
    color: #FFFFFF;
    border: none;
}



